$body-bg:#0f0f0f;
$main-color:#ff0000;
$txt-color:#fff;
$box-shadow:rgba(40, 40, 165, 0.2) 0px 7px 29px 0px;
$black:#000;
$header-height:8rem;
$header-shrink-height:5rem;
$border-radius:30px;
$mobile-width:739px;
$tablet-min-width:46.25em;
$tablet-max-width:63.9375em;
$font-family:'Montserrat', sans-serif;
$overlay-color:rgba(0,0,0,0.7);
